ul{
    list-style: none;
}
/****************************自定义按钮**************************************************/
.logo_red{
    background: #ED3742;
    border-color: #ED3742;
}
.color_gray{
    color: #5f5f60;
}
.color_blue{
    color: #409EFF;
}
.fontWe_500{
    font-weight: 500;
}
.fontWe_600{
    font-weight: 600;
}
.el-icon-close:hover{
    font-size: 18px;
    color: #409EFF;
    cursor: pointer;
}
#purchaseDetail_wrap .el-tabs__nav-scroll{
    padding-left: 20px;
    height: 46px;
}
#purchaseDetail_wrap .el-tabs__nav{
    height: 45px;
}
#purchaseDetail_wrap .el-tabs__header{
    margin: 0;
}
/****************************elementUI消息弹框位置修改**************************************************/
.el-message{
    top: 30%;
}
/****************************elementUI表格样式自定义**************************************************/
.el-table__header{
    color: #606266;
}
.el-table__body{
    font-size: 12px;
    color: #606266;
}
/****************************elementUI分页样式自定义**************************************************/
.el-pagination{
    height: 37px;
    padding-top: 12px;
}
/****************************elementUI表单样式自定义**************************************************/
/* 自定义form宽度 需加类名 myForm */
.myForm .el-form-item__content input{
    width: 194px;
}
/****************************各模块头部栏公共样式**************************************************/
.model_topcol{
    height: 46px;
    border-bottom: 1px solid #E4E7ED;
    color: #606266;
    line-height: 46px;
    padding-left: 25px;
    background: #ffffff;
    font-weight: 600;
    padding-right: 10px;
}
.model_topcol>div{
    float: right;
}
/****************************各模块底部栏公共样式**************************************************/
.model_footer{
    height: 50px;
    border-top: 1px solid #E4E7ED;
    text-align: right;
    padding-right: 20px;

}
/****************************各模块主体栏公共样式**************************************************/
.model_content{
    padding: 10px;
    background: #F5F5F5;
}
.model_content .model_content_inner{
    width: 100%;
    height: 100%;
    background: #ffffff;
    border: 1px solid #E4E7ED;
}
/* ***************************商品添加样式************************************************* */
.updata_box input[type="file"] {
    display: none;
}
.item_box ul{
    display: flex;
    justify-content: space-between;
    padding: 0 ;
    margin: 0;
    width: 100%;
    margin: 10px
}
.item_box .item_box_conent{
    padding: 0
}
.item_box .el-tree-node__content{
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #d1e5f1;
}
.items_top input[type="file"] {
    display: none;
}
.items_top .el-upload--picture-card{
    width: 100px;
    height: 100px;
    line-height: 100px
}
.brand_top input[type="file"] {
    display: none;
}
.brand_top .el-upload--picture-card{
    width: 100px;
    height: 100px;
    line-height: 100px
}
.updata_box .el-upload--picture-card{
    width: 100px;
    height: 100px;
    line-height: 100px
}
.supply_check .el-tag .el-tag__close{
    top:-20px;
    right: 10px;
    background: #C2C6CC;
    color: white
}
.supply_check .el-tag .el-tag__close:hover{
    font-size: 12px
}
