ul{
    list-style: none;
}
/****************************自定义按钮**************************************************/
.logo_red{
    background: #ED3742;
    border-color: #ED3742;
}
/****************************elementUI消息弹框位置修改**************************************************/
.el-message{
    top: 30%;
}
/****************************elementUI表格样式自定义**************************************************/
.el-table__header{
    color: #606266;
}
.el-table__body{
    font-size: 12px;
    color: #606266;
}
/****************************elementUI分页样式自定义**************************************************/
.el-pagination{
    height: 37px;
    padding-top: 12px;
}
/****************************elementUI表单样式自定义**************************************************/
.el-form input{
    width: 194px;
}
/****************************各模块头部栏公共样式**************************************************/
.model_topcol{
    height: 46px;
    border-bottom: 1px solid #E4E7ED;
    color: #606266;
    line-height: 46px;
    padding-left: 25px;
    background: #ffffff;
    font-weight: 600;
    margin-right: 10px;
}
.model_topcol>div{
    float: right;
}
/****************************各模块底部栏公共样式**************************************************/
.model_footer{
    height: 50px;
    border-top: 1px solid #E4E7ED;
    text-align: right;
    padding-right: 20px;

}
/****************************各模块主体栏公共样式**************************************************/
.model_content{
    padding: 0 10px;
    background: #F5F5F5;
    padding-top: 10px;
}
.model_content .model_content_inner{
    width: 100%;
    height: 100%;
    background: #ffffff;
    border: 1px solid #E4E7ED;
}

