/****************************自定义按钮**************************************************/
.logo_red{
    background: #ED3742;
    border-color: #ED3742;
}
/****************************elementUI消息弹框位置修改**************************************************/
.el-message{
    top: 30%;
}
